In [77]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
from sklearn.datasets import load_boston
boston = load_boston()
bos = pd.DataFrame(boston.data)

In [78]:
bos.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [79]:
bos.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [80]:
bos.shape

(506, 13)

In [81]:
bos.columns

RangeIndex(start=0, stop=13, step=1)

In [82]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR'])

In [83]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [84]:
df = pd.DataFrame(data=boston.data,columns=boston.feature_names)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [85]:
df['TG'] = boston.target

In [86]:
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,TG
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
TG         506 non-null float64
dtypes: float64(14)
memory usage: 55.4 KB

In [88]:
feature_cols = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT']
x = df[feature_cols]
y = df.TG



from sklearn.linear_model import LinearRegression 
lm = LinearRegression()
print(lm)
lm.fit(x, y)


print('Intercept', lm.intercept_)
print('Coefficient', lm.coef_)
print(lm.fit(x,y))
print(lm.score(x,y))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)
Intercept 36.49110328036135
Coefficient [-1.07170557e-01  4.63952195e-02  2.08602395e-02  2.68856140e+00
 -1.77957587e+01  3.80475246e+00  7.51061703e-04 -1.47575880e+00
  3.05655038e-01 -1.23293463e-02 -9.53463555e-01  9.39251272e-03
 -5.25466633e-01]
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)
0.7406077428649428

In [89]:
import statsmodels.formula.api as smf
lm2 = smf.ols(formula='TG ~ CRIM+ZN+INDUS+CHAS+NOX+RM+AGE+DIS+RAD+TAX+PTRATIO+B+LSTAT',data=df).fit()
print(lm2.pvalues)
print('rsquared', lm2.rsquared)
print(lm2.conf_int())

Intercept    3.182440e-12
CRIM         1.126402e-03
ZN           7.836070e-04
INDUS        7.345971e-01
CHAS         1.912339e-03
NOX          4.117296e-06
RM           2.207486e-18
AGE          9.546859e-01
DIS          6.017651e-13
RAD          5.189664e-06
TAX          1.117826e-03
PTRATIO      1.268218e-12
B            5.072875e-04
LSTAT        6.595808e-23
dtype: float64
rsquared 0.7406077428649427
                   0          1
Intercept  26.461795  46.520411
CRIM       -0.171443  -0.042898
ZN          0.019422   0.073368
INDUS      -0.099968   0.141689
CHAS        0.995659   4.381463
NOX       -25.302434 -10.289083
RM          2.983470   4.626035
AGE        -0.025205   0.026707
DIS        -1.867703  -1.083814
RAD         0.175323   0.435987
TAX        -0.019719  -0.004940
PTRATIO    -1.210539  -0.696388
B           0.004120   0.014665
LSTAT      -0.625062  -0.425872

In [90]:
feature_cols = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT']
x = df[feature_cols]
y = df.TG

In [91]:
from sklearn.model_selection import train_test_split
(x_train,x_test,y_train,y_test) = train_test_split(x,y,test_size=0.25,random_state = 1)

In [92]:
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(379, 13) (379,)
(127, 13) (127,)

In [93]:
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [94]:
predictions = lr.predict(x_test)
predictions[0:5]

array([32.37355169, 27.95629215, 18.07265446, 21.63752354, 18.92899165])

In [95]:
lr.score(x_test,y_test)

0.7790257749137302

In [96]:
lr.intercept_

45.2364158460572